body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;

}

//这个跟容器的设置很重要，不然login页面的背景图不显示。因为没有高度
#app {
    height: 100%;
}

//修改表格的滚动条
.el-table__body-wrapper::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

//滚动条的滑块
.el-table__body-wrapper::-webkit-scrollbar-thumb {
    background-color: #eaecf1;
    border-radius: 3px;
}

.frame {
    border: 1px solid #e6e6e6;
    margin: 30px 30px;
}

.frame_title {
    padding: 9px 15px;
    background-color: #f2f2f2;
}

.form {
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;

    .right {
        margin-left: 20%;
    }
}

.next {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.p15 {
    padding: 15px;
}

.mb10 {
    margin-bottom: 10px;
}

.ml10 {
    margin-left: 10px;
}

.mr10 {
    margin-right: 10px;
}

/* element样式重置 start */
/* 去掉input尾部上下小箭头 start */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    appearance: none !important;
    margin: 0;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    -o-appearance: textfield;
    -ms-appearance: textfield;
    appearance: textfield;
}

/* 去掉input尾部上下小箭头 end */